@using Stratosphere.Pages.Administration.ConnectionProfiles.ViewModels;
@model ConnectionProfilesVM
@{
    var pageType = "Connection Profiles";
    var pageTypeSingle = "Connection Profile";
    var refreshGridHelper = "ConnectionProfilesData";

    var canvasId = $"adminCanvas{pageTypeSingle.Replace(" ","")}";
}

<div class="d-flex row w-100 align-items-start">
    <div class="row adminHeaderRow">
        <div class="d-flex col-6 justify-content-start">
            <h1>@pageType</h1>
        </div>

        <div id="@refreshGridHelper" class="d-flex col-6 justify-content-end">
            <button type="button" id="adminRefreshGridButton" class="btn btn-secondary adminHeaderButton me-3 loadingEligible">
                <span><i class="bi bi-arrow-clockwise me-2"></i>Refresh Grid</span>
            </button>
            <button type="button" id="adminCreateButton" class="btn btn-primary adminHeaderButton" data-bs-toggle="offcanvas" data-bs-target="#adminCanvas">
                <span><i class="bi bi-plus-square me-2"></i>Add @pageTypeSingle</span>
            </button>
        </div>
    </div>

    <div class="overflow-auto h-90">
        <div id="mainDataTable">
        </div>
    </div>

    <div class="offcanvas offcanvas-end d-none" data-bs-backdrop="false" tabindex="-1" id="adminCanvas">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="@canvasId">Create @pageTypeSingle</h2>
            <div class="d-flex">
                <button type="button" class="btn btn-primary me-2" id="newConnectionProfileSubmit">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Close</button>
            </div>
        </div>
        <div class="offcanvas-body">
            <div id="info">
                <p>Connection profiles are for defining the authentication for managing services on the given asset.</p>
            </div>
            <form autocomplete="off" id="connectionProfileForm">
                <div class="form-group required">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="connectionProfileName" placeholder="Profile Friendly Name" required>
                </div>
                <div class="form-group required">
                    <label for="UserName">Username</label>
                    <input type="text" class="form-control" id="connectionProfileUserName" placeholder="Username"/>
                </div>
                <div class="form-group required">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="connectionProfilePassword" placeholder="Password"/>
                </div>
                <div class="form-group required">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" id="connectionProfilePasswordConfirm" placeholder="Confirm Password"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        var jsonData = JSON.parse('@Html.Raw(Json.Serialize(Model.ConnectionProfiles))');
        Stratosphere.loadConnectionProfilesDataGrid(jsonData);
    });
</script>
